<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Kontakt</h1>
    <a href="<%= Rho::RhoConfig.start_path %>" class="ui-btn-left" data-icon="home" data-direction="reverse" <%= "data-ajax='false'" if is_bb6 %>>
      Home
    </a>
  </div>
  
  <div class="container" data-role="content">
  <table style="width: 100%" align="center">
	  <tr style="width: 90%" align="center">
		  <td style="width: 50%" align="center">
			 <a href="tel:+4915140440626" /><img src="/public/images/macotec/phone.png" width="<%= System.get_property('screen_width') * 0.27 %>px" height="<%= System.get_property('screen_width') * 0.27 %>px"/>
			 <div id="product"  align="center">Anrufen</div>
		  </td>
		  <td style="width: 50%" align="center">
		  	<a href="mailto:info@maco-tec.de" /><img src="/public/images/macotec/mail.png" width="<%= System.get_property('screen_width') * 0.27 %>px" height="<%= System.get_property('screen_width') * 0.27 %>px"/>
		  	<div id="product"  align="center">Mail</div>
		  </td>
	  </tr>
	   <tr style="width: 90%" align="center">
	   	  <td style="width: 50%" align="center">
	   	  	<a href="http://www.maco-tec.de/?rho_open_target=_blank" /><img src="/public/images/macotec/web.png" width="<%= System.get_property('screen_width') * 0.27 %>px" height="<%= System.get_property('screen_width') * 0.27 %>px"/>
	   	  	<div id="product"  align="center">Website</div>
	   	  </td>
	  </tr>
  </table>
</div>