<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Kontakt</h1>
    <a href="<%= Rho::RhoConfig.start_path %>" class="ui-btn-left" data-icon="home" data-direction="reverse" <%= "data-ajax='false'" if is_bb6 %>>
      Home
    </a>
  </div>
  
  <table align="center">
	  <tr align="center">
		  <td align="center">
		  	<div id="button_app">
	  			<div id="button_image">
			 		<a href="tel:+4915140440626" /><img src="/public/images/macotec/phone_png.png" class="button_app" width="<%= System.get_property('screen_width') * 0.20 %>px" height="<%= System.get_property('screen_width') * 0.20 %>px"/>
			 	</div>
			 	<div style="z-index: 3; color: #000000" align="center">Anrufen</div>
			 </div>
		  </td>
		  <td align="center">
		  	<div id="button_app">
	  			<div id="button_image">
		  			<a href="mailto:info@maco-tec.de" /><img src="/public/images/macotec/mail_png.png" class="button_app" width="<%= System.get_property('screen_width') * 0.20 %>px" height="<%= System.get_property('screen_width') * 0.20 %>px"/>
		  		</div>
				<div style="z-index: 3; color: #000000" align="center">Mail</div>		  		
		  	</div>
		  </td>
	  </tr>
	   <tr align="center">
	   	  <td align="center">
	   	  	<div id="button_app">
	  			<div id="button_image">
	   	  			<a href="http://www.maco-tec.de/?rho_open_target=_blank" /><img src="/public/images/macotec/web_png.png" class="button_app" width="<%= System.get_property('screen_width') * 0.20 %>px" height="<%= System.get_property('screen_width') * 0.20 %>px"/>
	   	  		</div>
	   	  		<div style="z-index: 3; color: #000000" align="center">Website</div>
	   	  	</div>
	   	  </td>
	  </tr>
  </table>
  </div>
