<div data-role="page">

	<div data-role="header" data-position="inline">
    <h1>Info</h1>
    <% if System::get_property('platform') == 'APPLE' %>
    	<a href="<%= Rho::RhoConfig.start_path %>" class="ui-btn-left" data-icon="back" data-direction="reverse" <%= "data-ajax='false'" if is_bb6 %>>
      		Zurück
    	</a>
  	<% else %>
	    <a href="<%= Rho::RhoConfig.start_path %>" class="ui-btn-left" data-icon="back" data-direction="reverse" <%= "data-ajax='false'" if is_bb6 %>>
	      Zurück
	    </a>
    <% end %>
	</div>
	

<div data-role="content" align="left" style="width: 90%">	
<p><b><%= Localization::Index[:rental_germany_europe] %></b></p>

<%= Localization::Index[:info_text_teaser] %><br><br>

 

<%= Localization::Index[:info_text] %>

</div>
<br><br>
	
	
  <div data-role="content">
    <h1>MACO-TEC Rental Solutions GmbH</h1>
    Inh. Marc Moessner<br>
    HeumadenerStr.28<br>
    D - 70329 Stuttgart<br><br>
    
    Tel. +49(0)711-69987833<br>
    Fax. +49(0)711-69988574<br>
    www.maco-tec.de<br>
    info@maco-tec.de
    </ul>
  </div>
  <hr>
  
  <div data-role="content">
  	<p><%= Localization::Index[:app_info] %></p>
  	oliver.schobel@gmail.com  
  </div>

</div>