
<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1><%= Localization::Request[:request] %></h1>
    <a href="<%= url_for :controller => :Product, :action => :product_details, :query => {:category => @params['category'], :sub_category => @params['sub_category']} %>" class="ui-btn-left" data-icon="back" data-direction="reverse" <%= "data-ajax='false'" if is_bb6 %>>
      <%= Localization::System[:back] %>
    </a>
    <a href="<%= Rho::RhoConfig.start_path %>" class="ui-btn-right" data-icon="home" data-direction="reverse" <%= "data-ajax='false'" if is_bb6 %>>
      		<%= Localization::System[:home] %>
  	</a>
  </div>
  <div data-role="content">
  	<form id="form_look" method="POST" enctype="multipart/form-data" action="<%= url_for :action => :submit_request_catalog %>">
	  <fieldset>
	  	<label id="form_text"><b><%= Localization::Request[:your_request] %></b></label>
			<ul id="list_form">
				<li>
					<div>	
						<label id="form_text"><%= Localization::Request[:interested_in] %></label>
					</div>
					<h3><b><input id="text_field" type="text" readonly="readonly" name="product" value="<%= @details_name.to_s if @details_name %>"></input></b></h3>
				</li>
				<li>
					<label id="form_text"><%= Localization::Request[:rental_begin] %></label><br>
					<input id="date" style="width: 80%; -webkit-border-radius: 0px; border-radius: 0px;" type="text" readonly="readonly" value="<%= $choosed['1'] %>" name="rental_begin" onclick="popupDateTimeAJPicker('1','<%= Localization::Request[:rental_begin] %>','date');">
				</li>
				<li>
				<div>
					<table style="width: 75%">
						<tr>
							<td>
								<div align="left">
									<label id="form_text"><%= Localization::Request[:period_of_use] %><% if System::get_property('platform') == 'ANDROID' %><br>(<%= Localization::Request[:days] %>)<% end %></label><br>
									<input name="operation_period" type="number"  <%= placeholder( Localization::Request[:days] ) %> >
								</div>
							</td>
							<td>
								<div align="left">
									<label id="form_text"><%= Localization::Request[:machines] %><% if System::get_property('platform') == 'ANDROID' %><br>(<%= Localization::Request[:amount] %>)<% end %></label><br>
									<input name="amount_product" type="number"  <%= placeholder( Localization::Request[:amount] ) %> >
								</div>
							</td>
						</tr>
					</table>
				</div>
				</li>
				<li>	
					<label id="form_text"><%= Localization::Request[:location_of_use] %></label><br>
					<input type="text" id="text_field" name="location" <%= placeholder( Localization::Request[:location_of_use] ) %> />
				</li>
				<li>
					<div>
						<label id="form_text" style="vertical-align: top"><%= Localization::Request[:additional_information] %></label>	
					</div>
					<textarea id="text_field" name="information" id="information" cols="30" rows="5"></textarea>
				</li>
				</ul>
				<hr />
				<fieldset>
					<label id="form_text"><b><%= Localization::Request[:photo_site_terrain] %></b></label>
					<div align="center">
						<table>
							<tr>
								<td align="center">
									<div id="small_button" onclick="takePicture();" style="width: <%= width * 0.12 %>px">
										<div id="button_image">
											<div style="padding: 5% 30% 0% 30%;" align="left" id="takePhotoButtonDiv">
												<img src="/public/images/macotec/camera.png" />
											</div>
										</div>
									</div>
								</td>
								<td align="center">
									<div id="small_button" onclick="choosePicture();" style="width: <%= width * 0.12 %>px">
										<div id="button_image">
											<div style="padding: 5% 30% 0% 30%;" align="left" id="takePhotoButtonDiv">
												<img src="/public/images/macotec/gallery.png" />
											</div>
										</div>
									</div>
								</td>
							</tr>
						</table>
						<br>
						<div id="showImageDiv" style="display: none; width: 100%" >
							<img style="width: 150px; border: 12px" id="imageToSend" name="imageToSend"/>
							<input style="display: none" id="hiddenImagePath" name="hiddenImagePath" value="" />
						</div>	
					</div>
				</fieldset>
				<hr />
				</fieldset>
				<fieldset>
					<label id="form_text"><b><%= Localization::Request[:your_contact_data] %></b></label>
					<div align="center" id="userDataButtonDiv" style="display: none; height: 65px; margin: 0% 25% 0% 25%;">
						<div id="small_button" onclick="fillFormWithData();" style="height: 60px; width: <%= width * 0.25 %>px">
							<div id="button_image">
								<div style="padding: 4% 0% 5% 10%;" align="left" id="takePhotoButtonDiv">
									<img src="/public/images/macotec/user_data.png" id="userDataButton" onclick="fillFormWithData();" style="float: left;" />
									<div style="margin: 3% 0% 0% 50%; float: clear">
										<b><%= Localization::Request[:my_data] %></b>
									</div>
								</div>
							</div>
						</div>
					</div>
						<ul id="list_form">
							<li>	
								<label id="form_text"><%= Localization::Request[:name_company] %></label><br>
								<input style="width: 80%; -webkit-border-radius: 0px; border-radius: 0px;" type="text" name="company" id="company">
							</li>
							<li>	
								<label id="form_text"><%= Localization::Request[:phone] %></label><br>
								<input style="width: 80%; -webkit-border-radius: 0px; border-radius: 0px;" type="text" name="phone" id="phone">
							</li>
							<li>	
								<label id="form_text"><%= Localization::Request[:email] %></label><br>
								<input style="width: 80%; -webkit-border-radius: 0px; border-radius: 0px;" type="text" name="email" id="email">
							</li>
						</ul>
				</fieldset>
				<div align="center">
					<div id="small_button" style="margin: 0% 15% 5% 15%; height: 60px; width: <%= width * 0.25 %>px" onclick="submitForm();">
						<div id="button_image">
							<div style="padding: 5% 0% 5% 10%;" align="left">
								<img src="/public/images/macotec/upload.png" style="float: left" />
								<div style="margin: 3% 15% 10% 35%; font-size: 150%;">
									<b><%= Localization::System[:submit] %></b>
								</div>
							</div>
						</div>
					</div>
				</div>
		</form>
	</div>
	<script type="text/javascript">
		checkUserData();
		requestFromCatalog();
		
		function submitForm(){
			if ($("#phone").val().length <= 3 && $("#email").val().length < 6){
				$.get('/app/Request/missing_fields');
				}else{
					$('#form_look').submit();
				}
		}
		
		function requestFromCatalog(){
			$("#product_machine").val("<%= @details_name.to_s if @details_name %>")
		}
		
		function choosePicture(){
			$.get('/app/Request/choose_existing');
			
		}
		
		function takePicture() {
 			 $.get('/app/Request/new_image');
 		}
		
		function showImage(path){
			$("#imageToSend").attr("src", path);
			$("#hiddenImagePath").val(path);
			$("#showImageDiv").show();	
		}
		
		function checkUserData(){
			<% if @has_data %>
				$("#userDataButton").attr('value',"<%= Localization::Request[:my_data] %>");
				$("#userDataButtonDiv").show();
			<% else %>
			<% end %>
			}
			
		function fillFormWithData(){
			if($("#userDataButton").val() == "Daten entfernen"){
				clearFieldSetButtonName();
			}else{
				$("#company").val("<%= @data.company if @has_data %>");
				$("#phone").val("<%= @data.phone if @has_data %>");
				$("#email").val("<%= @data.email if @has_data %>");
				$("#userDataButton").attr('value',"Daten entfernen");
			}
		}
		function clearFieldSetButtonName(){
			$("#company").val("");
			$("#phone").val("");
			$("#email").val("");
			$("#userDataButton").attr('value',"<%= Localization::Request[:my_data] %>");
		}
	</script>
</div>