<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Anfrage</h1>
    <a href="<%= Rho::RhoConfig.start_path %>" class="ui-btn-left" data-icon="home" data-direction="reverse" <%= "data-ajax='false'" if is_bb6 %>>
      Home
    </a>
  </div>
  
  <div class="container" data-role="content">
  <table style="width: 100%" align="center">
	  <tr style="width: 90%" align="center">
		  <td style="width: 50%" align="center">
			 <a href="<%= url_for :controller => :Request, :action => :request_rental %>" /><img src="/public/images/macotec/forklifter_full.png" class="button_app" width="<%= System.get_property('screen_width') * 0.27 %>px" height="<%= System.get_property('screen_width') * 0.27 %>px"/>
			 <div id="product"  align="center">Mietanfrage</div>
		  </td>
		  <td style="width: 50%" align="center">
		  	<a href="<%= url_for :controller => :Request, :action => :request_project %>" /><img src="/public/images/macotec/request_contract.png" class="button_app" width="<%= System.get_property('screen_width') * 0.27 %>px" height="<%= System.get_property('screen_width') * 0.27 %>px"/>
		  	<div id="product"  align="center">Anfrage Projektnummer</div>
		  </td>
	  </tr>
  </table>
</div>