<script type="text/javascript">

function setFieldValue(field, value) {
  document.getElementById(field).value=value;
}
 
function popupDateTimePicker(flag, title, field_key) {
  // $.get('/app/request_controller/popup', { flag: flag, title: title, field_key: field_key });
  // return false;
}
:
  </script>

<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Mietanfrage</h1>
    <a href="<%= Rho::RhoConfig.start_path %>" class="ui-btn-left" data-icon="home" data-direction="reverse" <%= "data-ajax='false'" if is_bb6 %>>
      Home
    </a>
  </div>
	<form action="request">
		<ul style="list-style-type: none; width: <%= System.get_property('screen_width') * 0.5 %>px">
			<label>Produkt, Gerät</label>
		    <li>
		        <select name="product">
		            <option value="nothing" selected>Please select</option>
		            <% @products.each do |key, product| %>
		            <option value="<%= key %>"><%= product %></option>
		            <% end %>
		        </select>
		    </li>
			<li>
				<label>Mietbeginn</label><br>
				<input name="rental_begin" onclick="popupDateTimePicker()">
			</li>
			<li>
				<div style="float: left">
					<div style="width: 50%; float: left">
						<label>Einsatzdauer (Tage)</label>
						<input name="operation_period" type="number">
					</div>
					<div style="width: 50%">
						<label>Geräte (Anzahl)</label>
						<input name="amount_product" type="number">
					</div>
				</div>
			</li>
			<li>	
				<label>Einsatzort</label><br>
				<input name="operation_period" type="text">
			</li>
			<li>
				<label>Ihre Mitteilung</label><br>
				<textarea name="user_message" cols="50" rows="5"></textarea>
			</li>
		</ul>
		<input type="submit" class="standardButton" value="Senden" />
	</form>
</div>