<div data-role="page" data-url="<%= Rho::RhoConfig.start_path %>/">

  <div data-role="header" data-position="inline">
  </div>
  
  <img src="/public/images/macotec/logo.png" alt="MacoTec" data-role="header" id="logo">

  <div style="float: left; position: absolute; left: 1%; right: 1%" data-role="content">
  	<a href="<%= url_for :controller => :Request, :action => :request %>"><img src="/public/images/macotec/request.png" data-transition="slide" width="<%= System.get_property('screen_width') * 0.28 %>px" height="<%= System.get_property('screen_width') * 0.28 %>px"/>
  	<a href="<%= url_for :controller => :Menu, :action => :contact %>"><img src="/public/images/macotec/contact.png" data-transition="slide" width="<%= System.get_property('screen_width') * 0.28 %>px" height="<%= System.get_property('screen_width') * 0.28 %>px"/>
  	<a href="<%= url_for :controller => :Product, :action => :index %>"><img src="/public/images/macotec/products.png" data-transition="slide" width="<%= System.get_property('screen_width') * 0.28 %>px" height="<%= System.get_property('screen_width') * 0.28 %>px"/>
  	<a href="<%= url_for :controller => :Menu, :action => :info %>"><img src="/public/images/macotec/info.png" data-transition="slide" width="<%= System.get_property('screen_width') * 0.28 %>px" height="<%= System.get_property('screen_width') * 0.28 %>px"/>
  </div>

</div>
