<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1><%= Localization::Product[:products] %></h1>
	<a href="<%= url_for :controller => :Product, :action => :sub_categories, :query => {:category => @category} %>" class="ui-btn-left" data-icon="back" data-direction="reverse" <%= "data-ajax='false'" if is_bb6 %>>
  		<%= Localization::System[:back] %>
	</a>
	<a href="<%= Rho::RhoConfig.start_path %>" class="ui-btn-right" data-icon="home" data-direction="reverse" <%= "data-ajax='false'" if is_bb6 %>>
  		<%= Localization::System[:home] %>
    </a>
  </div>
  <div data-role="content">
  	<ul data-role="listview">
  	<% @products.each do |product| %>
  	<% if product.header %>
	<li><b><h2><%= product.header %></h2></b></li>
	<% end %>
	<% if product.attribute_title_1 && product.attribute_1 %>  		
	<b><%= product.attribute_title_1 %>:</b> <%= product.attribute_1 %><br>
	<% end %>
	<% if product.attribute_title_2 && product.attribute_2 %>
	<b><%= product.attribute_title_2 %>:</b> <%= product.attribute_2 %><br>
	<% end %>
	<% if product.attribute_title_3 && product.attribute_3 %>
	<b><%= product.attribute_title_3 %>:</b> <%= product.attribute_3 %><br>
	<% end %>
	<% if product.attribute_title_4 && product.attribute_4 %>
	<b><%= product.attribute_title_4 %>:</b> <%= product.attribute_4 %><br>
	<% end %>
	<% if product.attribute_title_5 && product.attribute_5 %>
	<b><%= product.attribute_title_5 %>:</b> <%= product.attribute_5 %><br>
	<% end %>
	<% if product.attribute_list_title && product.attribute_list %>
	<br><b><%= product.attribute_list_title %>:</b><br> <% list = product.attribute_list.split(',') %>
	<% list.each do |l| %>
	- <%= l %><br>
	<% end %>
	<% end %>
	<% if product.detail_img_url %>
	<div id="product_detail">
	<br><img src="<%= product.detail_img_url %>" width="<%= System.get_property("real_screen_width") / 2 %>" />
  	</div>
  	<% end %>
  	<div style="padding: 0% 10% 0% 10%" align="left" style="width: 50%">
  		<a href="<%= url_for :controller => :Request, :action => :request_rental, :query => {:details_name => product.details_name, :category => product.category, :category_name => product.category_name} %>"/>Request
		<input id="requestMachineButton" type="button" value="Request" class="standardButton" onclick="requestMachine();" />	
	</div>
  	</li>
  	<br>
	<% end %>
	</ul>
	<br>
  </div>
  <script type="text/javascript">
  
  		function requestMachine(){
  			$.get('<%= url_for(:model => :Request, :action => :request_rental) %>',{ });
  		}
		
	</script>

</div>