<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1><%= Localization::Product[:products] %></h1>
    <% if System::get_property('platform') == 'APPLE' %>
    	<a href="<%= url_for :controller => :Product, :action => :sub_categories %>" class="ui-btn-left" data-icon="back" data-direction="reverse" <%= "data-ajax='false'" if is_bb6 %>>
      		<%= Localization::System[:back] %>
    	</a>
    	<a href="<%= Rho::RhoConfig.start_path %>" class="ui-btn-right" data-icon="home" data-direction="reverse" <%= "data-ajax='false'" if is_bb6 %>>
      		<%= Localization::System[:home] %>
  	    </a>
  	<% else %>
    <a href="<%= url_for :controller => :Product, :action => :sub_categories, :query => {:product => @category} %>" class="ui-btn-left" data-icon="back" data-direction="reverse" <%= "data-ajax='false'" if is_bb6 %>>
      		<%= Localization::System[:back] %>
    	</a>
    	<a href="<%= Rho::RhoConfig.start_path %>" class="ui-btn-right" data-icon="home" data-direction="reverse" <%= "data-ajax='false'" if is_bb6 %>>
      		<%= Localization::System[:home] %>
  	    </a>
    <% end %>
  </div>
  <div data-role="content">
  	<ul data-role="listview">
	<% @product.each do |key, product| %>
	<% product.each do |key, pro| %>
	<% if key.to_s == "head" %>
	<li>
		<b><%= pro %></b>
		<% else %>
		<%= pro %><br>
		<% end %>
	</li>
	<% end %>
	<br>
	<% end %>
	
	<img src="http://www.maco-tec.de/images/content_pics/scherenbuehne_diesel.jpg" />
	
  </div>

</div>