<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1><%= Localization::Product[:products] %></h1>
    <a href="<%= url_for :controller => :Product, :action => :index %>" class="ui-btn-left" data-icon="back" data-direction="reverse" <%= "data-ajax='false'" if is_bb6 %>>
      		<%= Localization::System[:back] %>
    	</a>
    	<a href="<%= Rho::RhoConfig.start_path %>" class="ui-btn-right" data-icon="home" data-direction="reverse" <%= "data-ajax='false'" if is_bb6 %>>
      		<%= Localization::System[:home] %>
  	    </a>
  </div>
  <div style="color: #000000; text-decoration: none" data-role="content">
  	<ul data-role="listview">
			<% @sub_categories.each do |key, sub_category| %>
			<li>
				<a href="<%= url_for :controller => :Product, :action => :product_details, :query => {:sub_category => key, :category => @category} %>" /><%= sub_category %></a>
			</li>
			<% end %>
		
	</ul>
  </div>

</div>